<!DOCTYPE HTML>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewpoint" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>Литургия</title>
  <style type="text/css">
   TD {
    vertical-align: top; /* Выравнивание по верхнему краю ячейки */
   }
   #col1 {
    width: 34%; /* Ширина первой колонки */
    background: rgb(250, 250, 250); /* Цвет фона первой колонки */
   }
   #col2 {
    width: 33%; /* Ширина второй колонки */
    background: rgb(250, 250, 250); /* Цвет фона второй колонки */
   }
   #col3 {
    width: 33%; /* Ширина третьей колонки */
    background: rgb(250, 250, 250); /* Цвет фона третьей колонки */
   }
  </style>
 </head>
 <body>
    <h1 align="center">Литургия</h1>
    <div>
        {% for i in range(armtext|length()) %}
        <h2 align="center"> -- {{i +1}} -- </h2>
        <hr align="center" width="90%" color="rgb(50, 50, 50)" />
        <table width="90%" cellpadding="8%" cellspacing="0" align="center">
            {% for j in range(armtext[i]|length()) %}
            <tr>
                <td id="col1">
                        {{armtext[i][j]}}
                </td>
                <td id="col2">
                        {{trltext[i][j]}}
                </td>
                <td id="col3">
                        {{rustext[i][j]}}
                </td>
                {% endfor%}
            </tr>
            </table>
        <hr align="center" width="90%" color="rgb(50, 50, 50)" />
        {% endfor %}
    </div>

    <!-- Подключаем jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Подключаем плагин Popper -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    
    <!-- Подключаем Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
     
    <footer class="footer" style="text-align: center;">
        <div> 
            ՈՒԿՐԱԻՆԱՅԻ ՀԱՅՈՑ ԹԵՄ 
        </div>
        <div>
            Украинская епархия Армянской Апостольской церкви
        </div>
        <p style="text-align:center; color:rgb(50, 50, 50)"> <script type="text/javascript">document.write(new Date().getFullYear());</script> </p>
    </footer>

 </body>
</html>