<!DOCTYPE html>
<html lang="ru">

<head>
    <title>ААЦ</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <!-- для корректной радоты в интернет эксплорере-->
    <meta name="viewpoint" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- тег viewport, который позволяет 
          выставить базовые настройки для корректного отображения сайта на мобильных устройствах.-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> -->
</head>

<body>
    <div class="container" style="text-align: center">
        <div class="header">
            <h2 class="text-muted"> Украинская епархия ААЦ </h3>
        </div>

        <div class="jumbotron">
            <a class="btn btn-lg btn-success" href="liturgia" role="button">Текст Литургии</a>
            <h4> ОСНОВНЫЕ ПРАВИЛА ПОВЕДЕНИЯ В ЦЕРКВИ ВО ВРЕМЯ ЛИТУРГИИ </h3>
                <div style="text-align: justify;">
                    <p> 1. Дорогие прихожане помните, что церковь – это дом Божий и, приходя в церковь, Вы приходите к Богу! Войдя в церковь нужно перекреститься и поклониться в сторону святого Престола. Необходимо приходить в церковь до начала литургии,
                        чтобы участвовать в богослужении с самого начала. Верующий не« посторонний зритель на богослужении, а его активный участник. Без верующих не может быть литургии. Если Вы все же опоздали, постарайтесь зайти в церковь тихо, не привлекая
                        к себе внимания, чтобы не отвлекать других верующих и служителей от молитвы. </p>
                    <p> 2. По христианской традиции, мужчины должны находиться в храме с непокрытой головой. Женщины, напротив, должны покрывать головы. Женщинам лучше быть с минимумом украшений и косметики. </p>
                    <p> 3. Не желательно целовать Крест, Евангелие или иконы, а тем более подходить к Причастию с накрашенными губами. Нельзя курить на территории церкви, а тем более после курения подходить к Причастию. Причащающийся не должен есть и пить
                        (тем более курить) хотя бы с утра. К Причастию можно приближаться только будучи духовно и телесно чистым. </p>
                    <p> 4. Помните, что в церкви Вы находитесь хоть и в незримом, но реальном присутствии Бога. Соблюдайте порядок и тишину, осознавая святость происходящего и самого места. Даже приобретая церковную свечу, старайтесь быть как можно тише.
                        Посторонние разговоры недопустимы, т.к. они не только мешают богослужению, отвлекая служителей и лишая верующих молитвенного настроя, но и демонстрируют безразличие и непочтительное отношение к Богу, незримо присутствующему в храме.
                        Обязательно отключайте мобильные телефоны перед тем, как войти в церковь! </p>
                    <p> 5. Не нужно ходить по храму во время богослужения. Займите себе место, где бы Вы могли молиться и слушать проповедь в продолжение всей литургии. Для личной молитвы нет необходимости обходить все иконы. Достаточно молиться с одного
                        места, направляя взор в сторону святого Престола. Заходить на амвон верующие могут только в особых случаях, для исповеди и причастия (иных Таинств). В других случаях заходить туда нельзя. Исключение может быть сделано для детей,
                        когда в храме очень много людей. Подниматься на алтарь, верующим запрещено категорически. Входить в алтарь и приближаться к святому Престолу могут только церковнослужители, которые непосредственно участвуют в богослужении. </p>
                    <p> 6. Не нужно без особых причин выходить из церкви во время богослужения. Хождение из храма на улицу и обратно, ради того, чтобы развеяться, покурить, поговорить о делах со знакомыми или по телефону, является профанацией Святыни Таинства,
                        демонстративным игнорированием того, что происходит в церкви, проявлением полного безразличия к литургии. Покидайте церковь только с окончанием богослужения. Выходя из церкви, не пятьтесь задом наперед к выходу, но идите нормально
                        по направлению к двери. У дверей храма повернитесь к Святому Престолу, перекреститесь и поклонитесь. После этого, вновь повернитесь к двери и выйдите. </p>
                    <p> 7. Возжигать свечи можно в одном из предназначенных для этого мест. В Армянской Церкви (и не только в Армянской) нет норм, согласно которым свечи возжигаются в разных местах по разному поводу. Особых верований о том, как и от чего
                        возжигать свечи, не существует. Если на подсвечнике уже горят чьи-то свечи, зажигайте от них. Во избежание неоправданной копоти, ставьте каждую зажженную свечу на подсвечник отдельно, не соединяя их в пары или, тем более, в большие
                        пучки. </p>
                </div>
        </div>


        <footer class="footer">
            <p> ՈՒԿՐԱԻՆԱՅԻ ՀԱՅՈՑ ԹԵՄ <br> Украинская епархия Армянской Апостольской церкви <br>
                <script type="text/javascript">
                    document.write(new Date().getFullYear());
                </script>
            </p>
        </footer>

    </div>
</body>

</html>